- Esc m --> convert to Markdown cell
- Esc y --> convert to Code cell
- Shift+Enter --> To execute a cell
- Esc a --> to insert a cell above the current cell
- Esc b --> to insert a cell below the current cell
- Esc dd --> to delete a cell

# Main Title

## Second Title

### Third Title

#### Forth Title

##### Fifth Title

# Italic text

I'm in *Italic* Style

# Bold

I'm in **Bold** style

# Bold+Italic

I'm in both ***Bold and Italic***

# Un Ordered List

- This is Line 1
- This is Line 2
- This is Line 3

# Ordered List

1. This is ordered Line1
2. This is Ordered line2
3. This is Ordered line3

# Placing Link

[clickHere](https://google.com)

![Diya_Image](https://media-cdn.tripadvisor.com/media/photo-s/0c/ec/cd/fd/happy-diwali-diya-hd.jpg)

# Introduction to Python
    1. Introduction
    2. Features
    3. Applications

### 1. Introduction
    Python is a high level general purpose interpreted
    programming language.
   Developed by **Guido Van Rossum** in 1990's

## Features

- It is a Functional Programming supports Object Oriented Programming.
- It is Dynamic Programming.
- It is Compatiable to any main operating systems like linux,Windows..
- It is easy to learn,read,write and debugg
- It is Open source programming language

## Applications

- Used in any general Purpose programming
- used in Machine learning,Deep Learning,Data Science,AI
- used in scientific applications
- used in web development
- used in basic game design

### Variable declaration

variable is thing which stores some value or data

In [2]:
name = 'Sairam'
name1 = "Python"
name2 = """Programming"""
name3 = '''Language'''

In [3]:
number = 100

In [4]:
number2 = 10.3

### print() function to give output

In [6]:
print("Ayyappa")

Ayyappa

In [7]:
print(20)

20

In [8]:
print(20,10)

20 10

In [9]:
print(name1)

Python

In [10]:
print(branch)

NameError: name 'branch' is not defined

In [11]:
print("Branch")

Branch

In [12]:
name = 'Sairam'
print(name)

Sairam

In [13]:
print(type(name))

<class 'str'>

In [16]:
mobile = 9848022338

In [17]:
print(mobile)

9848022338

In [21]:
name = 'sairam'
name = 10
print(name)

10

#### rules for variable/function/class names

1. It contains a-zA-z
2. It can contain numbers except starting
3. It can contains _ (underscore)
4. remaining characters not accepted

In [23]:
NAME = 'sairam'
name = 'lakshmi'
print(NAME)

sairam

In [24]:
name1 = 'ram'
print(name1)

ram

In [25]:
1name = 'lakshmi'

SyntaxError: invalid syntax (<ipython-input-25-b7e092c9d32f>, line 1)

In [26]:
first name = 'sairam'

SyntaxError: invalid syntax (<ipython-input-26-31f3a0741db8>, line 1)

In [27]:
first_name = 'sairam'

In [28]:
_name = 'sairam'

In [29]:
name$ = 10

SyntaxError: invalid syntax (<ipython-input-29-3821e6c8ad59>, line 1)

## Operators in Python

### 1. Arthimetic Operators
- \+ Addition
- \- Subtraction
- \* Multiplicaton
- / Division
- % Mudulo Division
- // Floor Division
- ** Power

In [30]:
10 + 20

30

In [32]:
print(10 + 20)

30

In [33]:
print(20 - 30)

-10

In [34]:
print(2 * 3)

6

In [36]:
print(9 / 2)

4.5

In [37]:
print(9 // 2)

4

In [38]:
print(9 % 2)

1

In [39]:
print(2 ** 3)

8

## Assignment operators

= , += , -= , * = , /= , //= , %=, * * =

In [40]:
a=10

In [43]:
print(a)
a += 1
print(a)

11
12

In [46]:
a = 11
print(a)
a -= 1
print(a)

11
10

####  a * = 1
    means indirectly a = a * 1

## Comparsion Operators

==, !=, <, >, <=, >=

In [48]:
print(2==2)

True

In [49]:
print(2 != 3)

True

In [50]:
print(2 < 3)

True

In [51]:
print(2 > 3)

False

In [52]:
print(2<=3)

True

In [53]:
print(2>=3)

False

## Logical Operators

- and
- or
- not

In [56]:
a = 10
b = 20
c = 30
print(a<b or b>c)

True

In [58]:
print(not False)

True

## Bitwise Operators

- & Bitwise and
- | Bitwise or
- ~ bitwise not
- ^ Bitwise xor
- \<< shift left 
- \>> shift right

##### Bitwise and (&)

- 10 = 1 0 1 0
- 3  = 0 0 1 1
       0 0 1 0 --> bitwise and
       1 0 1 1 --> bitwise or

## bitwise not formulae
bitwise not of value = (-value-1)

In [61]:
a = 10
b = 3
print(a & b)
print(a | b)
print(~a)

2
11
-11

In [62]:
print(a^b)

9

value << times


formula


multiply value with 2 and repeat same process given times

In [66]:
print(10 << 3)

80

In [64]:
print(24 >> 2)

6

## Membership Operators

- in
- not in

In [67]:
'sai' in 'sairam'

True

In [68]:
'sai' not in 'siva'

True

## Identity Operators

- is
- is not

In [72]:
a = [1,2,3]
b = [1,2,3]
print(a == b,a is b)

True False

In [70]:
id(a)

2581014099720

In [71]:
id(b)

2581014100488