## Today Objectives
1. Taking input from user
2. Conditional Statements
    - if
    - else
    - elif
3. Loops
    - for
    - while
    - for-else
    - while-else
4. Strings
    - Acessing 
    - Slicing
    - methods
5. Functions
    - Pre-Defined
    - User Defined
    - Anonymous

## input(str_message)

In [2]:
input("Enter your name: ")

Enter your name: sairam

'sairam'

In [3]:
name = input('enter name')

enter namesai

In [4]:
print(name,type(name))

sai <class 'str'>

In [5]:
mobile = input('enter mobile number ')
print(mobile,type(mobile))

enter mobile number 98480
98480 <class 'str'>

### Conditional Statements
1. if

#### if structure:
```
if condition:
    statement 1
    statement 2
        .
        .
    statement n
    ```

In [6]:
if 2==3:
    print("if block executed")

if block executed

In [7]:
if 2==3:
    print("if block executed")
else:
    print("else executed")

else executed

In [9]:
if 2==2:
        print("1")
        print("2")

1
2

In [11]:
if 2==3:
    print("1")
print("2")

2

##### find largest of two numbers

In [12]:
a = 10
b = 20
if a>b:
    print("a is large",a)
else:
    print("b is large",b)

b is large 20

#### Find the largest of three numbers

In [13]:
a = 10
b = 20
c = 30
if a > b and a > c:
    print("a is large",a)
elif b > a and b > c:
    print("b is large",b)
else:
    print("c is large",c)

c is large 30

## Loops

###  for loop
```
for var in collections_items:
    statement 1
    statement 2
    statement 3```

In [24]:
name = 'sairam'
for each in name:
    print(each)

s
a
i
r
a
m

In [18]:
print(1,2,3,end=':')
print(4,5,6)

1 2 3:4 5 6

In [25]:
print(1,2,3,4,sep=':')

1:2:3:4

In [26]:
range(10)

range(0, 10)

In [27]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [28]:
for number in range(1,20):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [29]:
for number in range(10,20,2):
    print(number)

10
12
14
16
18

In [30]:
for number in range(20,10,-1):
    print(number)

20
19
18
17
16
15
14
13
12
11

#### print even numbers only

In [32]:
for number in range(1,20):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18

In [34]:
for number in 'sai':
    print(number)
print(number)

s
a
i
i

#### find the character 'a' available or not in name?

In [36]:
name = 'sairam'
for element in name:
    if element == 'a':
        print("a is avaliable")
        break

a is avaliable

In [37]:
print(element)

a

In [38]:
name = 'sairam'
for element in name:
    if element == 'a':
        continue
    print(element)

s
i
r
m

In [40]:
for each in range(3):
    print('hi')
    continue
    print(each)

hi
hi
hi

In [41]:
for i in range(3):
    print(i)
else:
    print("else executed")

0
1
2
else executed

In [42]:
for i in range(3):
    print(i)
    break
else:
    print("else executed")

0

#### While
```
while condition:
    statement 1
    statement 2
       .
       .
       .
     statement n```

In [43]:
start = 1
while start <= 10:
    print(start)
    start += 1

1
2
3
4
5
6
7
8
9
10

In [44]:
start = 10
while start >= 1:
    print(start)
    start -= 1

10
9
8
7
6
5
4
3
2
1

In [45]:
while True:
    data = input("given data: ")
    if data == 'done':
        break

given data: sairam
given data: lakshmi
given data: DONE
given data: done

#### Type conversions

In [49]:
num = 10
print(type(num))
print(str(num))
print(type(str(num)))

<class 'int'>
10
<class 'str'>

In [50]:
print(type(num))
num = str(num)
print(type(num))

<class 'int'>
<class 'str'>

### int(value)
        it returns the value by convert into integer
        If convertion not possible give error

In [51]:
a = '10'
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [52]:
a = '1020abc30'
print(type(a))
a = int(a)

<class 'str'>

ValueError: invalid literal for int() with base 10: '1020abc30'

In [53]:
a = 10
print(type(a))
a = float(a)
print(a,type(a))

<class 'int'>
10.0 <class 'float'>

In [54]:
a = '10.2'
a = float(a)
print(a,type(a))

10.2 <class 'float'>

##### write a program to find the largest  of 2 numbers given by user

- test cases1
        1
        10
- output 
        10
- test case 2
        10
        7
output 
       10

In [55]:
num1 = int(input("enter number1:"))
num2 = int(input("enter number2:"))
if num1 > num2:
    print(num1)
else:
    print(num2)

enter number1:10
enter number2:7
10

#### write a program to find given number is prime or not

In [66]:
number  = int( input('enter number') )
if number < 2:
    print('Not prime')
else:
    for each in range(2,number):
        if number % each == 0:
            print('Not prime')
            break
    else:
        print('Prime')

enter number13
Prime

#### write a program to find sum of numbers in given digits string

In [74]:
output = 0
digits_string = '12345'
for each in digits_string:
    output += int(each)

print(output)

15

## Strings and working with strings

In [75]:
name = 'sairam'

In [76]:
print( name[0] )

s

In [77]:
print( name[1] )

a

In [78]:
print( name[-1] )

m

In [79]:
print( name[-2] )

a

In [80]:
name

'sairam'

In [81]:
name[2:]

'iram'

In [82]:
name[1:3]

'ai'

#### access characters from last to first

In [83]:
name[::-1]

'marias'

#### syntax for slicing
collection_var[start_index : end_index : increment_or_step]

In [84]:
name[::2]

'sia'

In [85]:
name

'sairam'

In [86]:
name[0:5]

'saira'

In [87]:
name[::1]

'sairam'

In [88]:
name[::-1]

'marias'

In [89]:
name[0] = 'a'

TypeError: 'str' object does not support item assignment

## String Methods

#### 1. isdigit()

In [90]:
number = '123'
number.isdigit()

True

In [91]:
'123abc'.isdigit()

False

#### find  sum of numbers in rollnumber

In [93]:
number = '12A0123'
output = 0

for each in number:
    if each.isdigit():
        output += int(each)
print(output)

9

#### 2. isalpha()

In [94]:
'abc'.isalpha()

True

In [95]:
'abc123'.isalpha()

False

#### 3. startswith()

In [96]:
'sairam'.startswith('s')

True

In [97]:
'sairam'.startswith('S')

False

In [98]:
'sairam'.startswith('sai')

True

#### 4. endswith()

In [99]:
'sairam'.endswith('m')

True

In [101]:
'sairam'.endswith('Ram')

False

#### find()

In [102]:
'sairam'.find('a')

1

In [103]:
'sairam'.find('z')

-1

#### upper()

In [105]:
name = 'sairam'
print(name.upper())
print(name)

SAIRAM
sairam

### lower()

In [106]:
print('SAIRam'.lower())

sairam

#### islower()

In [107]:
'sairam'.islower()

True

In [108]:
'sairam lakshmi'.islower()

True

In [109]:
'sairam$'.islower()

True

#### isupper()

In [110]:
'SAIRAM'.isupper()

True

In [111]:
'SaiRam'.isupper()

False

#### lstrip()

In [113]:
name = '    lakshmi  ram    '
name.lstrip()

'lakshmi  ram    '

#### rstrip()

In [114]:
name.rstrip()

'    lakshmi  ram'

#### strip()

In [115]:
name.strip()

'lakshmi  ram'

#### split()

In [116]:
name = 'lakshmi ram'
name.split()

['lakshmi', 'ram']

In [117]:
name.split('i')

['lakshm', ' ram']

In [123]:
words = ['lakshm', ' ram','Python']
'#12'.join(words)

'lakshm#12 ram#12Python'

In [124]:
'sai' in 'sailakshmi'

True

In [125]:
name = 'sailakshmi'
name[3:]

'lakshmi'

In [128]:
sentence = 'saiRam Lakshmi 123@#$%'
upper = 0
lower = 0
numbers = 0
special = 0
for each in sentence:
    if each.islower():
        lower += 1
    elif each.isupper():
        upper += 1
    elif each.isdigit():
        numbers += 1
    else:
        special += 1
print('lower: ',lower)
print('Upper: ',upper)
print('Digits: ',numbers)
print('Special: ',special)

lower:  11
Upper:  2
Digits:  3
Special:  6

### Functions
    group of statements to perform a particular task

### 1. Pre-defined or System defined functions

eg: print(),input(),range(),len()

In [129]:
len('sairam')

6

### User Defined Functions

#### Structure

```
    def function_name(arg1,arg2,.,.,.,argn):
        statements1
        statement2
            .
            .
            .
            .
         return
 ```

In [131]:
def addition(a,b):
    return a+b

In [132]:
result = addition(2,3)

In [133]:
print(result)

5

In [134]:
addition(10)

TypeError: addition() missing 1 required positional argument: 'b'

In [135]:
addition(10,20,30)

TypeError: addition() takes 2 positional arguments but 3 were given

In [136]:
def addition(a,b):
    print(a,b)

In [137]:
result = addition(5,6)
print(result)

5 6
None

In [138]:
def addition(a,b):
    print(a,b)
    return

In [139]:
result = addition(5,6)
print(result)

5 6
None

In [140]:
add(5,6)

NameError: name 'add' is not defined

#### Based on Arguments

##### a) Required Arguments Functions

In [141]:
def addition(a,b):
    return a+b

In [142]:
addition(5,6)

11

#### b) Keyword Arguments Functions

In [143]:
addition(a=10,b=20)

30

In [144]:
addition(b=10,a=20)

30

In [145]:
addition(10,b=20)

30

In [146]:
addition(a=10,20)

SyntaxError: positional argument follows keyword argument (<ipython-input-146-3e9d75195bac>, line 1)

In [147]:
addition(20,a=10)

TypeError: addition() got multiple values for argument 'a'