### Functions Contd...

#### c) Default Arguments

In [1]:
def addition(a,b,c=0):
    return a+b+c

In [2]:
addition(10,20,30)

60

In [3]:
addition(10,20)

30

#### d) Variable length argument function

In [4]:
def addition(a,b,*var):
    print(a)
    print(b)
    print(var)

In [5]:
addition(10,20)

10
20
()

In [6]:
addition(10,20,30,40,50)

10
20
(30, 40, 50)

#### create a function to check prime or not

#### using your prime function generate first 10 prime numbers

#### calculate the average of first 10 prime numbers

In [7]:
def isprime(number):
    if number<2:
        return False
    if number >= 2:
        for i in range(2,number):
            if number%i == 0:
                return False
        else:
            return True

In [11]:
isprime(13)

True

In [17]:
start = 1
count = 0
while count < 10:
    if isprime(start):
        print(start)
        count +=1
    start += 1

2
3
5
7
11
13
17
19
23
29

In [19]:
result = 0
start = 1
count = 0
while count < 10:
    if isprime(start):
        result += start
        count += 1
    start += 1
print(result / count)

12.9

## 3. anonymous Function

### Structure

var = lambda arg1,arg2...,argn: arg1+arg2+...+argn

In [20]:
add = lambda a,b:a+b

In [21]:
add(1,2)

3

#### create an anonymous function to find square of a number

In [23]:
square = lambda x : x ** 2

In [24]:
square(10)

100

###### List
    List is a collection of any valid items

#### Two ways to create list
    1) [] symbol
    2) list() function

In [26]:
marks = []
names = list()
print(type(marks),type(names))

<class 'list'> <class 'list'>

##### to find number of items in list

In [27]:
marks = []
len(marks)

0

In [30]:
marks = [10,20,30,40]
print(len(marks))

4

List is a mutable

In [29]:
for item in marks:
    print(item)

10
20
30
40

#### Accessing items in list

In [32]:
marks

[10, 20, 30, 40]

In [31]:
marks[0]

10

In [33]:
marks[-1]

40

In [34]:
marks[20]

IndexError: list index out of range

In [35]:
marks

[10, 20, 30, 40]

In [36]:
marks[3] = 50
marks

[10, 20, 30, 50]

In [37]:
marks[20] = 100

IndexError: list assignment index out of range

##### List Slicing

In [40]:
marks = [10,20,30,40,50,60,70]
marks

[10, 20, 30, 40, 50, 60, 70]

In [42]:
marks[0:6:2]

[10, 30, 50]

In [43]:
marks[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [44]:
marks

[10, 20, 30, 40, 50, 60, 70]

#### List Methods

In [45]:
marks = [10,20,30]

##### 1. list.append(item)

add an item at end of the list

In [46]:
marks.append(40)

In [48]:
marks

[10, 20, 30, 40]

#### 2. clear()

In [49]:
print(marks)
marks.clear()
print(marks)

[10, 20, 30, 40]
[]

#### 3. copy()

In [54]:
marks = [1,20,30,40]
marks2 = marks.copy()
print(marks,marks2)

[1, 20, 30, 40] [1, 20, 30, 40]

In [55]:
print(marks)
marks2 = marks
marks.clear()
print(marks,marks2)

[1, 20, 30, 40]
[] []

In [56]:
marks = [1,2,3]
sub = [3,4,5]
marks.append(sub)
print(marks,len(marks))

[1, 2, 3, [3, 4, 5]] 4

#### 4. extend(collection)

In [57]:
marks = [1,2,3]
sub = [3,4,5]
marks.extend(sub)
print(marks,len(marks))

[1, 2, 3, 3, 4, 5] 6

#### 5. count(item)

In [58]:
marks = [1,2,3,3,4,5,6,7,7,3]

In [59]:
marks.count(7)

2

In [60]:
marks.count(0)

0

In [62]:
marks = [1,2,3,[3,4]]

In [64]:
marks[3]

[3, 4]

In [65]:
marks[3][1]

4

In [66]:
marks[2][1]

TypeError: 'int' object is not subscriptable

#### 6. index(item)

In [68]:
marks = [1,2,3,4,2,4]
print(marks.index(4))

3

#### 7. insert(index,item)

In [69]:
marks = [10,20,30,40]
marks.insert(2,60)
print(marks)

[10, 20, 60, 30, 40]

In [70]:
marks.insert(100,100)
print(marks)

[10, 20, 60, 30, 40, 100]

#### 8. pop(index)

In [71]:
marks = [1,2,3,4,5]
marks.pop()
print(marks)

[1, 2, 3, 4]

In [72]:
marks.pop(2)
print(marks)

[1, 2, 4]

In [73]:
marks.pop(100)

IndexError: pop index out of range

In [74]:
[].pop()

IndexError: pop from empty list

#### 9. remove(item)

In [75]:
marks = [1,2,1,2,1,2]
marks.remove(2)
print(marks)

[1, 1, 2, 1, 2]

In [76]:
marks.remove(200)

ValueError: list.remove(x): x not in list

In [77]:
marks = [1,2,1,2,1,2]

In [78]:
c = marks.count(2)
print(marks)
print('count',c)
for each in range(c):
    marks.remove(2)
print(marks)

[1, 2, 1, 2, 1, 2]
count 3
[1, 1, 1]

#### 10.  reverse()

In [79]:
marks = [1,2,10,5]
marks.reverse()
print(marks)

[5, 10, 2, 1]

#### 11. sort()

In [81]:
marks = [1,20,10,5]
marks.sort()
print(marks)

[1, 5, 10, 20]

In [82]:
marks = [1,20,10,5]
marks.sort()
marks.reverse()
print(marks)

[20, 10, 5, 1]

In [83]:
marks = [1,20,10,5]
marks.sort(reverse = True)
print(marks)

[20, 10, 5, 1]

#### [ [10,30],[5,6],[8,35] ]

In [84]:
marks = [ [10,30] , [5,6] , [8,35] ]

marks.sort()

print(marks)

[[5, 6], [8, 35], [10, 30]]

1. step-1
    [ [ 30,10] ,[6,5] ,[35,8] ]
2. step-2
    [ [ 6,5] , [ 30,10] , [35,8]]
3. step-3
    [ [5,6], [10,30] , [8,35]]

In [91]:
print('given list',marks)
for item in marks:
    item.reverse()
print('Step-1',marks)
marks.sort()
print('step-2',marks)
for item in marks:
    item.reverse()
print('Step-3',marks)

given list [[6, 5], [30, 10], [35, 8]]
Step-1 [[5, 6], [10, 30], [8, 35]]
step-2 [[5, 6], [8, 35], [10, 30]]
Step-3 [[6, 5], [35, 8], [30, 10]]

#### Sort based on second item
marks = [[10,20,30],[5,22,18],[11,21,35]]

In [95]:
marks = [[10,20,30],[5,22,18],[11,21,35]]
marks.sort(key = lambda x: x[2],reverse = True)
print(marks)

[[11, 21, 35], [10, 20, 30], [5, 22, 18]]

In [96]:
marks = [1,2,3,4,5]
sum(marks)

15

In [97]:
min(marks)

1

In [98]:
max(marks)

5

In [100]:
marks = ['10','20','30']
new = []

for each in marks:
    new.append( int(each) )
print(new)
print(sum(new))

[10, 20, 30]
60

##### sort based on total marks

[c,java,python]

In [103]:
marks = [[10,20,30],[5,50,40],[20,10,20]]
marks.sort(key=lambda x:sum(x))
print(marks)

[[20, 10, 20], [10, 20, 30], [5, 50, 40]]

In [ ]:
output = [[20,10,20],[10,20,30],[5,50,40]]

1. step-1
    
    [[total,marks] ,[total,marks] ,[ total,marks]]
2. step-2
    sort based on total marks
3. remove total from each item
   
   [[marks],[marks],[marks]]

### map(function,collection_items)

In [104]:
marks = ['10','20','30']

In [107]:
x = list(map(int,marks))
x

[10, 20, 30]

##### create a cube list for the given number list using map()

In [108]:
numbers = [1,2,3]
result = list(map(lambda x:x ** 3,numbers))
print(result)

[1, 8, 27]

#### filter(function,collection_items)

In [110]:
fruits = ['apple','orange','apple','orange','apple']

result = list(filter(lambda x: x == 'apple',fruits))

print(result)

['apple', 'apple', 'apple']

## Tuples

    It is a collection of items with immutable
    
- ()
- tuple()

In [111]:
t1 = ()
t2 = tuple()
print(type(t1),type(t2))

<class 'tuple'> <class 'tuple'>

In [112]:
t1 = (10,20,30)
len(t1)

3

In [113]:
t1[1]

20

In [114]:
t1[-1]

30

In [115]:
t1[::-1]

(30, 20, 10)

In [116]:
sum(t1)

60

In [117]:
min(t1)

10

In [118]:
max(t1)

30

### Method in tuple

#### 1. count(item)

In [119]:
t1 = (10,20,30,30)
t1.count(30)

2

#### 2. index(item)

In [122]:
t1.index(20)

1

In [123]:
t1 = (10,20,30)
t2 = (10,20,30)
t1 == t2

True

## sets

    set is a collection of unique items
- set()
- {,}

In [124]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [127]:
s2 = {3,4,5,5}

In [128]:
print(s1)
print(s2)

{1, 2, 3}
{3, 4, 5}

### Methods in sets

#### 1. add(item)

In [129]:
print(s1)
s1.add(10)
print(s1)

{1, 2, 3}
{10, 1, 2, 3}

In [130]:
10 in s1

True

#### 2. pop()

In [131]:
print(s1)
s1.pop()
print(s1)

{10, 1, 2, 3}
{1, 2, 3}

#### 3. remove(item)

In [133]:
print(s1)
s1.remove(3)
print(s1)

{1, 2}

KeyError: 3

#### 3. discard(item)

In [134]:
s1 = {1,2,3,5,8,9}

In [136]:
print(s1)
s1.discard(3)
s1.discard(10)
print(s1)

{1, 2, 5, 8, 9}
{1, 2, 5, 8, 9}

#### 4. update(items)

In [137]:
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{4, 5, 6}

#### 5. clear()

In [138]:
s1 = {1,2,3,4}
s1.clear()
print(s1)

set()

#### 6. copy()

In [139]:
s1 = {1,2,3,4}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4}

#### 7. union

In [140]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

#### 8. Intersection

In [141]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
print(s1.intersection(s2))

{4}

## Dictionary

    Dictionary is collection of key:value pair items

- dict()
- {}

In [142]:
d1 = {}
d2 = dict()
print(type(d1),type(d2))

<class 'dict'> <class 'dict'>

In [143]:
students = {'name':'sai','mobile':98480}

In [144]:
len(students)

2

In [145]:
students['name']

'sai'

In [147]:
print(students)
students['name'] = 'lakshmi'
print(students)

{'name': 'sai', 'mobile': 98480}
{'name': 'lakshmi', 'mobile': 98480}

In [148]:
print(students)
students['branch'] = 'CSE'
print(students)

{'name': 'lakshmi', 'mobile': 98480}
{'name': 'lakshmi', 'mobile': 98480, 'branch': 'CSE'}

#### create frequency dictionary for the name

In [149]:
freq = {}
name = 'sairam'
for item in name:
    if item in freq:
        freq[item] = freq[item] + 1
    else:
        freq[item] = 1
print(freq) # {'s':1,'a':2,'i':1,'r':1,'m':1}

{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

### Methods in dictionary

#### 1. clear()
#### 2. copy()

#### 3. fromkeys(collection_items,default)

In [152]:
names = ['sai','ram']
{}.fromkeys(names,1)

{'sai': 1, 'ram': 1}

In [154]:
name = 'sairam'
freq = {}.fromkeys(name,0)

print(freq)
for item in name:
    freq[item] = freq[item] + 1
print(freq)

{'s': 0, 'a': 0, 'i': 0, 'r': 0, 'm': 0}
{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

#### 4. get(key,value)

In [156]:
d1 = {'name':'sai','branch':'CSE'}

In [158]:
print(d1)
print(d1.get('branch'))
print(d1)

{'name': 'sai', 'branch': 'CSE'}
CSE
{'name': 'sai', 'branch': 'CSE'}

In [160]:
print(d1)
print(d1.get('total_marks',0))
print(d1)

{'name': 'sai', 'branch': 'CSE'}
0
{'name': 'sai', 'branch': 'CSE'}

#### 5. items()

In [161]:
d1 = {'name':'sai','branch':'CSE'}

print(d1.items())

dict_items([('name', 'sai'), ('branch', 'CSE')])

#### 6. pop(key)

In [162]:
d1 = {'name':'sai','branch':'CSE'}
print(d1)
print(d1.pop('name'))
print(d1)

{'name': 'sai', 'branch': 'CSE'}
sai
{'branch': 'CSE'}

In [164]:
d1 = {'name':'sai','branch':'CSE'}
print(d1)
print(d1.pop('mobile','not avaliable'))
print(d1)

{'name': 'sai', 'branch': 'CSE'}
not avaliable
{'name': 'sai', 'branch': 'CSE'}

#### 7. popitem()

In [165]:
d1 = {'name':'sai','branch':'CSE'}
print(d1)
print(d1.popitem())
print(d1)

{'name': 'sai', 'branch': 'CSE'}
('branch', 'CSE')
{'name': 'sai'}

#### 8. keys()

In [166]:
d1 = {'name':'sai','branch':'CSE'}
print(d1.keys())

dict_keys(['name', 'branch'])

#### 9. values()

In [167]:
d1 = {'name':'sai','branch':'CSE'}
print(d1.values())

dict_values(['sai', 'CSE'])

#### 10. setdefault(key,value)

In [170]:
d1 = {'name':'sai','branch':'CSE'}
print(d1.setdefault('college'))
print(d1)

None
{'name': 'sai', 'branch': 'CSE', 'college': None}

#### 11. update(dict)

In [171]:
d1 = {'name':'sai','branch':'CSE'}
d2 = {'name':'ram','mobile':123456}
d1.update(d2)
print(d1)

{'name': 'ram', 'branch': 'CSE', 'mobile': 123456}

In [174]:
d = {'name':'sai','branch':'cse'}
for key in d:
    print(key,d[key])

name sai
branch cse

#### find the name of student who got highest marks

In [175]:
students = {'sai':[10,30,20], 'ram':[30,50,10] , 'lakshmi':[1,2,3]}