#### find the name of student who got highest marks

In [4]:
students = {'sai':[10,30,20], 'ram':[30,50,10] , 
            'lakshmi':[1,2,3], 'raju':[30,50,10]}
highest = 0
for name in students:
    marks = students[name]
    total = sum(marks)
    if total > highest:
        highest = total
print('Highest marks:',highest)

for name in students:
    marks = students[name]
    total = sum(marks)
    if total == highest:
        print(name)

Highest marks: 90
ram
raju

##### Alternate solution

In [10]:
students = {'sai':[10,30,20], 'ram':[30,50,10] , 
            'lakshmi':[1,2,3], 'raju':[30,50,10]}

students_list = list(students.items())
students_list.sort(
    key = lambda x:sum(x[1]),
    reverse = True
)

highest = sum(students_list[0][1])

print(
    list(
        filter(
            lambda x:sum(x[1]) == highest,
            students_list
        )
    )
)

[('ram', [30, 50, 10]), ('raju', [30, 50, 10])]

In [16]:
students = {'sai':[10,30,20], 'ram':[30,50,10] , 
            'lakshmi':[1,2,3], 'raju':[30,50,10]}

students_list = list(students.items())
print(students_list)
students_list.sort(key = lambda x:sum(x[1]),reverse = True)
print(students_list)
highest = sum(students_list[0][1])
print(highest)
print(list(filter(lambda x: sum(x[1]) == highest,students_list)))

[('sai', [10, 30, 20]), ('ram', [30, 50, 10]), ('lakshmi', [1, 2, 3]), ('raju', [30, 50, 10])]
[('ram', [30, 50, 10]), ('raju', [30, 50, 10]), ('sai', [10, 30, 20]), ('lakshmi', [1, 2, 3])]
90
[('ram', [30, 50, 10]), ('raju', [30, 50, 10])]

## List Comprehension

### Syntax

[item for item in range(times) condition]

In [17]:
numbers = [1 for each in range(5)]
print(numbers)

[1, 1, 1, 1, 1]

In [18]:
numbers = [each for each in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
numbers = [each for each in range(1,11) if each % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10]

##### find the characters in name except spaces

In [21]:
name = 'python programming'
print(len(name))
output = [i for i in name if i != ' ']
print(output)
print(len(output))

18
['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
17

extract only

In [25]:
name = 'python programming'
print(len(name))
output = [i for i in name if i == 'p' or i == 'o']
# or 
output = [i for i in name if i not in ['p','o']* ]

print(output)
print(len(output))

18
['y', 't', 'h', 'n', ' ', 'r', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
14

##### find sum of digits in roll number

In [28]:
number = '11cse123'
result = [int(item) for item in number if item.isdigit()]
print(sum(result))

8

### Dictionary Comprehension

#### Syntax


{key:value for key in range(5) condition}

In [29]:
#### squares of the numbers

square = {key : key ** 2 for key in range(5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### find frequency of words in given words list

In [30]:
words = ['apple','orange','banana','apple','apple','orange']

In [31]:
freq = {word:words.count(word) for word in words }
print(freq)

{'apple': 3, 'orange': 2, 'banana': 1}

#### create freq dictionary of starting character in words

In [36]:
words = ['apple1','orange1','banana','apple2',
         'apple3','orange2','brinjal']

myList = list(map(lambda x:x[0] , words))
freq = {key:myList.count(key) for key in myList }

print(freq)

{'a': 3, 'o': 2, 'b': 2}

### Set Comprehension
#### Syntax

{ item for item in range(items) }

In [39]:
name = 'sairam'

unique = {item for item in name}

print(unique)

{'r', 'i', 'm', 'a', 's'}

In [41]:
words = ['apple','banana','apple','orange']
unique = {item for item in words}
print(unique)
print(len(unique))

{'banana', 'orange', 'apple'}
3

#### [ (1,1,1),(2,4,8),(3,9,27) . . .  ]

In [42]:
result = [(num,num ** 2,num ** 3) for num in range(1,6)]
print(result)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

#### [ (1),(1,2),(1,2,3),(1,2,3,4) ]

In [44]:
result = [ tuple(range(1,num+1)) for num in range(1,6)]
print(result)

[(1,), (1, 2), (1, 2, 3), (1, 2, 3, 4), (1, 2, 3, 4, 5)]

## Files


1. Open the required file
2. do the required operation
- close the opened file

### Reading the file 

#### book.txt

In [49]:
fh = open('book.txt','r')

data = fh.read()
print(data)

fh.close()

line1
line2
line3
line4

#### 2. writing data into book.txt

In [51]:
fh = open('notes.txt','w')

content = 'Hello World!'
fh.write(content)

fh.close()

#### read the content from students.txt and write into report.txt

In [53]:
fh_i = open('students.txt','r')
fh_o = open('report.txt','w')

data = fh_i.read()
fh_o.write(data)

fh_i.close()
fh_o.close()

#### appending data into book.txt

In [55]:
fh = open('book.txt','r')
print('old_data: ',fh.read())
fh.close()

fh = open('book.txt','a')

data = input("enter data")
fh.write(data)

fh.close()

old_data:  Hello World!Hii
enter datahow are you?

######  file object we can use for loop also

In [56]:
fh = open('students.txt','r')
for Line in fh:
    print(Line)
fh.close()

name      python    c    java

ayyappa     90     70     60

lakshmi     70     60     30

ram         90     90     80

#### find the number of lines in the file students.txt

In [57]:
fh = open('students.txt','r')
count = 0
for Line in fh:
    count += 1
print(count)
fh.close()

4

#### display line number and content in the line
    ex: 1 name      python    c    java

In [58]:
fh = open('students.txt','r')
count = 0
for Line in fh:
    count += 1
    print(count,Line)
fh.close()

1 name      python    c    java

2 ayyappa     90     70     60

3 lakshmi     70     60     30

4 ram         90     90     80

#### Display only names column in students.txt

name

ayyappa

lakshmi

ram

In [63]:
fh = open('students.txt','r')
for Line in fh:
    words = Line.split()
    name = words[0]
    
    print(name)
fh.close()

name
ayyappa
lakshmi
ram

In [64]:
fh = open('students.txt','r')
for Line in fh:
    words = Line.split()
    name = words[0]
    marks = words[1:]
    print(marks)
fh.close()

['python', 'c', 'java']
['90', '70', '60']
['70', '60', '30']
['90', '90', '80']

In [65]:
fh = open('students.txt','r')
count = 0
for Line in fh:
    count += 1
    if count != 1:
        words = Line.split()
        name = words[0]
        marks = words[1:]
        print(marks)
fh.close()

['90', '70', '60']
['70', '60', '30']
['90', '90', '80']

In [67]:
fh = open('students.txt','r')
count = 0
for Line in fh:
    count += 1
    if count != 1:
        words = Line.split()
        name = words[0]
        marks = words[1:]
        total = sum(list(map(int,marks)))
        print(total)
fh.close()

220
160
260

In [79]:
fh = open('students.txt','r')
fh_o = open('report.txt','w')
count = 0
for Line in fh:
    count += 1
    Line = Line.rstrip()
    if count == 1:
        fh_o.write(Line+'  Total\n')
    if count != 1:
        words = Line.split()
        name = words[0]
        marks = words[1:]
        total = sum(list(map(int,marks)))
        fh_o.write(Line+'    '+str(total)+'\n')

fh.close()
fh_o.close()

220
160
260

In [80]:
fh = open('students.txt')
data = fh.read() # after read it reaches end of file 
data = fh.read() # there is no content after end of file
print(data)
fh.close()

##### generate report descending order of total marks
    Note:
        Not mandatory task